<html>
    <style>
        body
        { 
          background-image: url(http://localhost/slim/apirest/imagenes/10.jpg);
          background-attachment:fixed;
          background-position:center; 
        }
    </style>

  <body>

    <div class="alert alert-primary">          
      <button class="btn btn-primary" type="button" routerLink="/" >INICIO</button>
    </div>  

      <div class="row justify-content-md-center" >
        <div class="alert alert-success">
          <button class="btn btn-success" type="button" (click)="traerDatos()">Todos</button>  
          <button class="btn btn-success" type="button" (click)="traerDatosGanadores()" value="ganadores" >Los que ganaron</button>  
          <button class="btn btn-success" type="button" (click)="traerDatosPerdedores()">Los que perdieron</button>
        </div>
      </div>  

    <!-- 
    <div class="container">
    <table class="table">
          <thead>
            <tr>
              <th>Cuit</th>
              <th>Nombre</th>
              <th>Email</th>
              <th>Puntaje</th>
              <th>Fecha</th>
              <th>Sexo</th>
              <th>Gano</th>
            </tr>
          </thead>   
          
          <tr *ngFor="let jug of ListaDeJugadores" >
            <td>{{jug.cuit}}</td>
            <td>{{jug.usuario}}</td>
            <td>{{jug.email}}</td>
            <td>{{jug.puntaje}}</td>   
            <td>{{jug.fecha}}</td>
            <td>{{jug.sexo}}</td>
            <td>{{jug.gano}}</td>   
          </tr>

    </table>
    </div>
    -->

    <ng2-smart-table [settings]="settings" [source]="ListaDeJugadores"></ng2-smart-table>

  </body>
</html>