<html>
  <body> <app-menu-strip></app-menu-strip>

      <div class="row justify-content-md-center">
        <div class="alert alert-success">
          <button class="btn text-white btn-success" type="button" (click)="filtrar($event)" value="Todos">Todos</button>  
          <button class="btn text-white btn-success" type="button" (click)="filtrar($event)" value="Ganadores" >Los que ganaron</button>  
          <button class="btn text-white btn-success" type="button" (click)="filtrar($event)" value="Perdedores">Los que perdieron</button>
        </div>
      </div>  

    <!-- 
    <div class="container">
    <table class="table">
          <thead>
            <tr>
              <th>Cuit</th>
              <th>Nombre</th>
              <th>Email</th>
              <th>Puntaje</th>
              <th>Fecha</th>
              <th>Sexo</th>
              <th>Gano</th>
            </tr>
          </thead>   
          
          <tr *ngFor="let jug of ListaDeJugadores" >
            <td>{{jug.cuit}}</td>
            <td>{{jug.usuario}}</td>
            <td>{{jug.email}}</td>
            <td>{{jug.puntaje}}</td>   
            <td>{{jug.fecha}}</td>
            <td>{{jug.sexo}}</td>
            <td>{{jug.gano}}</td>   
          </tr>

    </table>
    </div>
    -->

    <!-- IMAGEN PERSONALIZADA -->
    <div class="container alert alert-primary">
      <ng2-smart-table [settings]="settings" [source]="ListaDeJugadores"></ng2-smart-table>
    </div>

  </body>
</html>