<html>
      <body>

      <div class="container">
            <div class="card mb-3">
                  <img class="card-img-top" src="http://Localhost/slim/apirest/imagenes/2.jpg" alt="Card image cap" width="500" height="200" >
                  <div class="card-body">
                        <h4 class="card-text">{{unJuego.nombreJuego}} </h4>
                        Descripcion: {{unJuego.descripcion}}
                  </div>
            </div>
      </div>

      
      <div align="Center" class="container">
                  <div class="row justify-content-md-center" >
                        <div class="col col-lg-1">  <h1>{{numUno}}</h1>           </div>
                        <div class="col-md-auto">  <h1>{{operador}}</h1>           </div>
                        <div class="col col-lg-1">  <h1>{{numDos}}</h1>           </div>
                  </div>

                  <div class="row">
                        <div class="col-sm-9" >
                              <input class="form-control" *ngIf="this.unJuego.juega" [(ngModel)]="resultadoUsuario" type="text" placeholder="ingrese numero" name="numeroIngresado" (keypress)="teclaEnter($event)"/>
                        </div>
                        
                        <div class="col-sm-3">  
                              <button *ngIf="!ocultarVerificar" (click)="verificar()" class="btn btn-primary btn-block">Verificar {{Tiempo}} </button>
                        </div>

                        <button *ngIf="ocultarVerificar" (click)="NuevoJuego()" class="btn btn-warning btn-block">Nuevo</button>
                  </div>
            

                  <br>
                  <h1 align="center" >{{unJuego.mensaje}}</h1>
                  <br>
        

      </div> 

</body>
</html>