<html>
<body> <app-menu-strip [puntosTotales]="unJuego.puntajeTotal" ></app-menu-strip>
    
    <div class="container" align="center" >
            <button class="btn btn-primary btn-lg" routerLink="/salaDeJuegos" >Volver atras</button>
    </div>


    <div class="container row justify-content-md-center centroDePagina2"> 
    <div class="col sm-6">            
        <div class="card mb-3">
            <img class="card-img-top" src="./assets/imagenes/PPT.jpg" alt="Card image cap" width="500" height="200" >
            <div class="card-body">
            <h4 class="card-text">{{unJuego.nombreJuego}} </h4>
            Descripcion: {{unJuego.descripcion}}
            </div>
        </div>
    </div>


    <div class="alert bg-dark col sm-6">
        <div class="row justify-content-md-center">
            <div class="col-6 col-md-3">
                <div align="center">
                    <h6 class="text-white">{{this.unJuego.jugador}}</h6>
                    <button class="btn btn-outline-primary" id="BtnPiedra_user" > <img src="assets/imagenes/Piedra papel o tijera/Piedra.jpg" alt="Piedra"    class="rounded" width=50 (click)="QueHay($event)"> </button><br><br>
                    <button class="btn btn-outline-primary" id="BtnPapel_user" > <img src="assets/imagenes/Piedra papel o tijera/Papel.jpg"  alt="Papel"     class="rounded" width=50 (click)="QueHay($event)"> </button><br><br>
                    <button class="btn btn-outline-primary" id="BtnTijera_user" > <img src="assets/imagenes/Piedra papel o tijera/Tijera.jpg" alt="Tijera"    class="rounded" width=50 (click)="QueHay($event)"> </button><br><br>
                </div>
            </div>

            <div class="col-md-auto">                
            </div>

            <div class="col-6 col-md-3">
                <div align="center">
                    <h6 class="text-white">Sistema</h6>
                    <button class="btn btn-outline-danger" id="BtnPiedra" disabled> <img src="assets/imagenes/Piedra papel o tijera/Piedra.jpg" alt="Piedra" class="rounded" width=50> </button><br><br>
                    <button class="btn btn-outline-danger" id="BtnPapel" disabled> <img src="assets/imagenes/Piedra papel o tijera/Papel.jpg" alt="Papel" class="rounded" width=50></button><br><br>
                    <button class="btn btn-outline-danger" id="BtnTijera" disabled> <img src="assets/imagenes/Piedra papel o tijera/Tijera.jpg" alt="Tijera" class="rounded" width=50></button><br><br>
                </div>
            </div>
        </div>

<!--
        <div class="row">
        <div class="col-md-12">
            <button *ngIf="unJuego.juega" class="btn btn-primary btn-lg btn-block" (click)="verificarJugada()"> Jugar </button>
        </div>
        </div>
-->      
        <div class="row">
        <div class="col-md-12">
            <button *ngIf="!unJuego.juega" class="btn btn-info btn-lg btn-block text-dark" (click)="reiniciarJuego()"><strong> Intentar otra vez </strong></button>
        </div>
        </div>

        <br>
        <h5 align="center" id="LblMensaje" class="text-white" ><strong>  {{unJuego.mensaje}}</strong> </h5>
        <br>
    </div>

</div>



        
</body>
</html>