<html>
    <body>
  
        <div class="container">
          <div class="card mb-3">
              <img class="card-img-top" src="http://Localhost/slim/apirest/imagenes/4.jpg" alt="Card image cap" width="500" height="200" >
              <div class="card-body">
                  <h4 class="card-text">{{unJuego.nombreJuego}} </h4>
                  Descripcion: {{unJuego.descripcion}}
              </div>
          </div>
        

        <div class="row justify-content-md-center">


        <div class="col-6 col-md-4">
            <div class="container" align="center">
            <div class="alert alert-primary">
                <div><img src="http://Localhost/slim/apirest/imagenes/Piedra papel o tijera/Piedra.jpg" alt="Piedra" class="rounded" width=150></div><br>
                <div><img src="http://Localhost/slim/apirest/imagenes/Piedra papel o tijera/Papel.jpg" alt="Papel" class="rounded" width=150></div><br>
                <div><img src="http://Localhost/slim/apirest/imagenes/Piedra papel o tijera/Tijera.jpg" alt="Tijera" class="rounded" width=150></div>
            </div>
            </div>
        </div>

        <div class="col align-self-center" align="center">
        <button class="btn btn-primary" type="button" (click)="verificarJugada()" >Log in</button>
        {{mensaje}}
        </div>

        <div class="col-6 col-md-4">
            <div class="container" align="center">            
            <div class="alert alert-primary">
                <div><img src="http://Localhost/slim/apirest/imagenes/Piedra papel o tijera/Piedra.jpg" alt="Piedra" class="rounded" width=150></div><br>
                <div><img src="http://Localhost/slim/apirest/imagenes/Piedra papel o tijera/Papel.jpg" alt="Papel" class="rounded" width=150></div><br>
                <div><img src="http://Localhost/slim/apirest/imagenes/Piedra papel o tijera/Tijera.jpg" alt="Tijera" class="rounded" width=150></div>
            </div>
            </div>
        </div>


        </div>  



        </div>
    </body>
  </html>