<div class="sticky-top">
    <div class="alert menuimagen">
        <div class="clearfix">

          <div class="float-left">
            <button class="btn btn-white text-dark" routerLink="/">Pagina Principal</button>
            <button class="btn btn-danger" *ngIf="Logueado" type="button" (click)="desLoguearse()" >Log out</button>

                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</button>
                        
                            <div class="dropdown-menu">
                                <form class="px-4 py-3">
                                  <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Nombre de cuenta:</label>
                                    <input type="text" class="form-control" id="TxtLoginUsuario" name="TxtNombre" [(ngModel)]="form.nombre" >
                                  </div>  
                        
                                  <div class="form-group">
                                    <label for="message-text" class="col-form-label">Contraseña:</label>
                                    <input type="password" class="form-control" id="TxtLoginPass" name="TxtPass" [(ngModel)]="form.password">
                                  </div> 
                        
                                  <div class="form-group">
                                    <button type="button" class="btn btn-primary" (click)="datosAdmin()">usar cuenta admin</button>
                                    <button type="button" class="btn btn-secondary" (click)="Loguearse()" >Log in</button>
                                  </div>
                        
                                </form>        
                            </div>
          </div>

          <div class="float-right">
            <strong class="text-white">Jugador: {{cuenta}}</strong>
            <strong class="text-warning">Pts Totales: {{puntosTotales}}</strong>
          <div>

        </div>
    </div>
</div>
