<html>
  <body>
     <app-menu-strip></app-menu-strip>

  <div class="container">

        <div class="jumbotron">
          <h1 class="display-3">Bienvenidos al TP: Sala de juegos</h1>
          <p class="lead">Este es un proyecto de Trabajo practico desarrollado con el fin de promocionar Laboratorio 4.</p>
          <hr class="my-4">
          <p>Fue desarrollado con esfuerzo y dedicacion, espero que lo disfruten.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg BtnAzul" href="https://github.com/MetalEmi7/TP1-Lab4-SalaDeJuegos" role="button">Repositorio del TP</a>
          </p>
        </div>

    

        <div class="card-deck">

          <div class="card">
            <img class="card-img-top" src="./assets/imagenes/SalaDeJuegos.jpg" alt="Card image cap">
            <div class="card-body ">
              <h4 class="card-title">Sala de juegos</h4>
              <p class="card-text">Encontraran un conjunto de juegos de tipo cognitivos, cada uno registran los resultados y sus puntos logrados en un historial.</p>
              <p class="card-text"><button class="btn btn-primary" name="BtnSalaDeJuegos" routerLink="/salaDeJuegos">Entrar</button> </p>
            </div>
          </div>

          <div class="card ">
            <img class="card-img-top" src="./assets/imagenes/Listado.jpg" alt="Card image cap">
            <div class="card-body ">
              <h4 class="card-title">Listado</h4>
              <p class="card-text">Muestra todos los resultados de todos los jugadores con filtros.</p>
              <p class="card-text"><button class="btn btn-primary" name="BtnSalaDeJuegos" routerLink="/listado">Entrar</button> </p>
            </div>
          </div>

          <div class="card ">
            <img class="card-img-top" src="./assets/imagenes/CardQuienSoy.jpg" alt="Card image cap">
            <div class="card-body ">
              <h4 class="card-title">Quien soy</h4>
              <p class="card-text">Un estudiande a termino de la carrera de Tecnico Superior en Programacion.</p>
              <p class="card-text"><button class="btn btn-primary" name="BtnSalaDeJuegos" routerLink="/quienSoy">Detalles</button> </p>
            </div>
          </div>

        </div>

  </div>  
  
  </body>
</html>