<html>
  <body>
  
    <div class="sticky-top">
      <div class="alert menuimagen" >
        <button class="btn btn-dark " *ngIf="!Logueado" type="button" data-toggle="modal" data-target="#FrmLogin"  data-whatever="@mdo">Log in</button>
        <button class="btn btn-danger " *ngIf="Logueado" type="button" (click)="desLoguearse()" >Log out</button>
        <button class="btn btn-dark " type="button" data-toggle="modal" data-target="#exampleModal2"  data-whatever="@mdo2">Registrarse</button>
      </div> 
    </div>



  <div class="container">

    <div class="jumbotron">
      <h1 class="display-3">Bienvenidos al TP: Sala de juegos</h1>
      <p class="lead">Este es un proyecto de Trabajo practico desarrollado con el fin de promocionar Laboratorio 4.</p>
      <hr class="my-4">
      <p>Fue desarrollado con Bootstrap e imagenes mediante Corel x7.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg BtnAzul" href="https://github.com/MetalEmi7/TP1-Lab4-SalaDeJuegos" role="button">Repositorio del TP</a>
      </p>
    </div>

    

    <div class="card-columns">
      <div class="card">
        <img class="card-img-top" src="../../assets/imagenes/SalaDeJuegos.jpg" alt="Card image cap">
        <div class="card-body ">
          <h4 class="card-title">Sala de juegos</h4>
          <p class="card-text">Encontraran un conjunto de juegos de tipo cognitivos, cada uno registran los resultados y sus puntos logrados en un historial.</p>
          <p class="card-text"><button class="btn btn-primary BtnVerde" name="BtnSalaDeJuegos" routerLink="/salaDeJuegos">Entrar</button> </p>
        </div>
      </div>

      <div class="card ">
        <img class="card-img-top" src="../../assets/imagenes/Listado.jpg" alt="Card image cap">
        <div class="card-body ">
          <h4 class="card-title">Listado</h4>
          <p class="card-text">Muestra todos los resultados de todos los jugadores con filtros.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <p class="card-text"><button class="btn btn-primary BtnVerde" name="BtnSalaDeJuegos" routerLink="/listado">Entrar</button> </p>
        </div>
      </div>

      <div class="card ">
          <img class="card-img-top" src="../../assets/imagenes/QuienSoy.jpg" alt="Card image cap">
          <div class="card-body ">
            <h4 class="card-title">Quien soy</h4>
            <p class="card-text">Un estudiande a termino de la carrera de Tecnico Superior en Programacion.</p>
            <p class="card-text"><button class="btn btn-primary BtnVerde" name="BtnSalaDeJuegos" routerLink="/quienSoy">Detalles</button> </p>
          </div>
        </div>
    </div>
  </div>
    

















  <div class="modal fade" id="FrmLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Log in</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>

        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Nombre de cuenta:</label>
              <input type="text" class="form-control" id="TxtLoginUsuario" name="TxtNombre" [(ngModel)]="form.nombre" >
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Contraseña:</label>
              <input type="password" class="form-control" id="TxtLoginPass" name="TxtPass" [(ngModel)]="form.password">
            </div>
          </form>

        </div>       


        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Loguearse()" >Log in</button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2"  data-whatever="@mdo" >Crear una cuenta</button>

        </div>

      </div>
    </div>
  </div>

    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          

          <div class="modal-header">
            <h5 class="modal-title" id="exampleModal2Label">Registro</h5>
  
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>  
          </div>  



          <div class="modal-body">
            <form>
              <div class="form-group">
                  <label><b>Nombre de cuenta</b></label>
                  <input type="text" class="form-control" placeholder="Enter Username" name="TxtNewNombre" [(ngModel)]="form.nombre" >
              </div>              
            
              <div class="form-group">
                  <label><b>Contraseña</b></label>
                  <input type="password" class="form-control" placeholder="Enter Password" name="TxtNewPassword" [(ngModel)]="form.password" >
              </div>            
            
              <div class="form-group">
                <label><b>E-Mail</b></label>
                <input type="email" class="form-control" placeholder="Enter mail" name="TxtNewMail" [(ngModel)]="form.mail" >
              </div>            
            
              <div class="form-group">
                  <label><b>Genero</b></label><br>
                  <input type="radio" name="sexo" [(ngModel)]="form.sexo" value="Masculino">Masculino
                  <input type="radio" name="sexo" [(ngModel)]="form.sexo" value="Femenino">Femenino
              </div>            
            
              <!-- 
              <div class="form-group">
                <label><b>Foto de avatar</b></label>
                <input type="File" class="form-control" placeholder="Click para subir una imagen" id="foto" name="foto">
              </div>
              -->

              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="Registrarse()" >Registrarse</button>
                  <button type="reset" class="btn btn-white">Limpiar</button>
              </div>
            </form>  
          </div>

        </div>
      </div>
    </div>
  
  </body>
</html>