<html>
  <body>

      <div class="container">
        <div class="card mb-3">
            <img class="card-img-top" src="http://Localhost/slim/apirest/imagenes/1.jpg" alt="Card image cap" width="500" height="200" >
            <div class="card-body">
                <h4 class="card-text">{{unJuego.nombreJuego}} </h4>
                Descripcion: {{unJuego.descripcion}}
            </div>
        </div>
      </div>

      <div align="Center" class="container">
        <input class="form-control" type="text" placeholder="Introduzca un numero" *ngIf="this.unJuego.juega" [(ngModel)]="numero_Usuario">
        <button class="btn btn-primary" (click)="Adivinar()" *ngIf="this.unJuego.juega">Adivinar</button>  
        <button class="btn btn-primary" (click)="GenerarNum()" *ngIf="!this.unJuego.juega">Nuevo</button>
        <br>
        {{unJuego.mensaje}}
      </div>

  </body>
</html>