<html>
    <body> <app-menu-strip [puntosTotales]="unJuego.puntajeTotal" ></app-menu-strip>

    <div class="container" align="center" >
        <button class="btn btn-primary btn-lg" routerLink="/salaDeJuegos" >Volver atras</button>
    </div>

<div class="container row justify-content-md-center centroDePagina2">
    
        <div align="Center" class="col sm-6">
        <div class="card mb-3">
            <img class="card-img-top" src="./assets/imagenes/AdivinaElNumero.jpg" alt="Card image cap" width="500" height="200" >
            <div class="card-body">
                <h4 class="card-text">{{unJuego.nombreJuego}} </h4>
                Descripcion: {{unJuego.descripcion}}
            </div>
        </div>
        </div>

    <div class="alert bg-primary col sm-6">
        <div align="center" class="col sm-6">

            <div class="clearfix">
                <p class="text-white float-left"><strong>Adivine el numero:</strong></p>
                <p class="text-white float-right text-dark" ><strong>Intentos: {{intentos_Usuario}} / {{intentos_Sistema}}</strong></p>
            </div>
            
            <div class="row">
                <div class="col-sm-9" >
                <input class="form-control" type="text" placeholder="Introduzca un numero" *ngIf="this.unJuego.juega" name="TxtNumUser" [(ngModel)]="numero_Usuario" (keypress)="keyPressEnter($event)" >
                </div> 
                
                <div class="col-sm-3">
                <button class="btn btn-success btn-block" name="BtnAdivinar" (click)="Adivinar()" *ngIf="this.unJuego.juega">Adivinar</button>  
                </div>

                <div class="col-sm-12">
                <button class="btn btn-info btn-block text-dark" name="BtnNuevo" (click)="GenerarNum()" *ngIf="!this.unJuego.juega"><strong>Juego nuevo</strong></button>
                </div>
            </div>

        </div>

        <br>
        <h5 align="center" id="LblMensaje" class="text-white">{{unJuego.mensaje}}</h5>
        <br>

    </div>
</div>


    </body>
</html>