<body>
    <div class="alert alert-primary">
      
      <button class="btn btn-primary" type="button" routerLink="/" >INICIO</button>  
      <button class="btn btn-primary" type="button" routerLink="/salaDeJuegos/adivina" >Adivina el numero</button>  
      <button class="btn btn-primary" type="button" routerLink="/salaDeJuegos/agilidad" >Agilidad</button>
      <button class="btn btn-primary" type="button" routerLink="/salaDeJuegos/piedraPapelTijera" >Piedra, Papel o Tijera</button>
      <button class="btn btn-success" type="button" routerLink="/salaDeJuegos/juego de colores" >VIP - Juego de colores</button>
    </div>  
  </body>
  
<router-outlet></router-outlet>