<html>
<body> <app-menu-strip [puntosTotales]="unJuego.puntajeTotal" ></app-menu-strip>
    
    <div class="container" align="center" >
            <button class="btn btn-primary btn-lg" routerLink="/salaDeJuegos" >Volver atras</button>
    </div>

    <div class="container row justify-content-md-center centroDePagina2">
        <div class="col sm-6">
            <div class="card mb-3">
                <img class="card-img-top" src="/assets/imagenes/JuegoColores.jpg" alt="Card image cap" width="500" height="200" >

                <div class="card-body"><h4 class="card-text">{{unJuego.nombreJuego}} </h4>
                    Descripcion: {{unJuego.descripcion}}
                </div>
            </div>
        </div>




        <div class="col sm-6">
                <h4 class="text-white" align="center">Jugador: {{this.unJuego.jugador}}</h4>
            <div class="card bg-{{colorFondo}}">

            <div class="card-header" align="center"> <h3>{{elSistemaPide}}</h3>
            </div>

            <div class="card-body"> 

                <br><br>    
                <h1 class="card-title text-{{colorLetra}}" align="center"> {{Palabra}} </h1>
                <br><br>

                <hr>

                <input class="form-control" type="text" placeholder="Introduzca el color" *ngIf="this.unJuego.juega" id="TxtRespuesta" [(ngModel)]="respuestaUsuario" (keypress)="keyPressEnter($event)">
                <button class="btn btn-dark btn-block" name="BtnAdivinar" (click)="prepararJuego()" *ngIf="!this.unJuego.juega">Comenzar</button>    
            </div>            

            </div>
            <h1 align="center" class="text-white" >{{unJuego.mensaje}}</h1>

        </div>

    </div>

  </body>
</html>