body
{ 
  background-image: url(./assets/imagenes/TP_Fondo.jpg);
  background-position: top center;
  background-attachment: fixed;
  background-size: 100% ;
}

.menuimagen{
  background-image:url(./assets/imagenes/MainMenu2.png);
  background-repeat: no-repeat;
  background-size: 70%;
}

.jumboCode{
  background-image:url(./assets/imagenes/junboMainMenu.jpg);
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 100% ;
}

.btn-primary{
  background-image:url(./assets/imagenes/BtnAzul.jpg);
}

.btn-success{
  background-image:url(./assets/imagenes/BtnVerde.jpg);
}

.btn-danger{
  background-image:url(./assets/imagenes/BtnRojo.jpg);
}

.btn-warning{
  background-image:url(./assets/imagenes/BtnAmarillo.jpg);
}

.btn-info{
  background-image:url(./assets/imagenes/BtnCeleste.jpg);
}

.btn-dark{
  background-image:url(./assets/imagenes/BtnDark.jpg);
}

.btn-white{
  background-image:url(./assets/imagenes/BtnWhite.jpg);
}

.centroDePagina
{  
  margin: 0 auto;
  margin-top: 150px;
}

.centroDePagina2
{  
  margin: 2em auto;
  padding: 2em;
}

.centroDePagina3
{  
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10%;
  left: 10%;  
  bottom: 10%;
  right: 10%;  
}



